#bulkmail-deactivation-dialog.bulkmail-notification-dialog .notification-dialog{
	width: 600px;
}
.bulkmail-survey-extra{
	display: none;
}
.bulkmail-delete-data{
	background-color: #fefcf1;
	border: 1px solid #f3eed6;
	margin-top: 20px;
	padding: 0 1rem;
}
.bulkmail-delete-data label{
	font-size: 14px;
}
